.btnBlue {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;

  //   float: left;
  color: white;
  background-color: $colorBtnBlue;
  min-width: 170px;
  min-height: 69px;
  padding: 14px 20px;
  //   cursor: pointer;
  //   transform: scale(1);
  //   transition: transform 400ms;
}

.btnGreen {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;

  //   float: left;
  color: white;
  background-color: $colorBtnGreen;
  min-width: 170px;
  min-height: 69px;
  padding: 14px 20px;
  //   cursor: pointer;
  //   transform: scale(1);
  //   transition: transform 400ms;
}

.btnRed {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin-right: 2rem;
  margin-bottom: 1rem;

  //   float: left;
  color: white;
  background-color: $colorBtnRed;
  min-width: 170px;
  min-height: 69px;
  padding: 14px 20px;
  //   cursor: pointer;
  //   transform: scale(1);
  //   transition: transform 400ms;
}
