$colorBtnRed: #d04f4f;
$colorBtnBlue: #3282f7;
$colorBtnGreen: #68d9a4;
$colorDarkGray: #c7bebe;
$colorLightGray: #e7e7e7;

/* Fonts */
$roboto-font: "Roboto", sans-serif;
/* Fonts */
$lato-font: "Lato", sans-serif;
