.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__logo {
    margin-top: 3rem;
    height: 7.1rem;
    width: 15.5rem;

    & img {
      width: 100%;
      object-position: 50% 50%;
      object-fit: fill;
    }
  }
}
