/* on met en forme la barre de navigation */
#navbarSelect {
  display: flex;
  flex-wrap: wrap;
}

.ingredient,
.appareil,
.ustensile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .ingredient__name,
  .appareil__name,
  .ustensile__name {
    font-family: "Lato";
    font-weight: 600;
    font-size: 0.85em;
  }
}

.btn__Blue,
.btn__Green,
.btn__Red {
  width: 100%;
}

// /* on met un style aux liens de navigation */

.btnBlueOpen {
  display: none;
  // position: absolute;
  z-index: 999;
  background: $colorBtnBlue;
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.75em;
  transition: all 1s;
  padding: 1em;
  padding-top: 1.3em;
  color: white;
  // margin-top: 1.5em;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: initial;
  .selectSearch__ingredients {
    color: white;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    width: 100%;
    &::placeholder {
      color: rgb(255, 255, 255);
      font-size: 1.1rem;
    }
  }
  .item-group-ingredients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 106px;
    break-inside: avoid;
    list-style: none;
    overflow: scroll;
    padding: 0;
    li {
      padding: 2px;
      margin-right: 10px;
    }
  }
}

.btnGreenOpen {
  display: none;
  z-index: 999;
  // position: absolute;
  background: $colorBtnGreen;
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.75em;
  transition: all 1s;
  padding: 1em;
  padding-top: 1.3em;
  color: white;
  // margin-top: 1.5em;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: initial;
  .selectSearch__appareils {
    color: white;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    width: 100%;
    &::placeholder {
      color: rgb(255, 255, 255);
      font-size: 1.1rem;
    }
  }
  .item-group-appareils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 106px;
    break-inside: avoid;
    list-style: none;
    overflow: scroll;
    padding: 0;
    li {
      padding: 2px;
      margin-right: 10px;
    }
  }
}

.btnRedOpen {
  display: none;
  // position: absolute;
  z-index: 999;
  background: $colorBtnRed;
  font-family: "Lato";
  font-weight: 600;
  font-size: 0.75em;
  transition: all 1s;
  padding: 1em;
  padding-top: 1.3em;
  color: white;
  // margin-top: 1.5em;
  // margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  cursor: initial;
  .selectSearch__ustensils {
    color: white;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    width: 100%;
    &::placeholder {
      color: rgb(255, 255, 255);
      font-size: 1.1rem;
    }
  }
  .item-group-ustensils {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 106px;
    break-inside: avoid;
    list-style: none;
    overflow: scroll;
    padding: 0;
    li {
      padding: 2px;
      margin-right: 10px;
    }
  }
}

.flexInputInconUp {
  display: flex;
}

#iconDownIng,
#iconDownUst,
#iconDownApp #iconUpIng,
#iconUpUst,
#iconUpApp {
  cursor: pointer;
  font-size: larger;
}

.item-group-ingredients-item {
  cursor: pointer;
}

.item-group-appareils-item {
  cursor: pointer;
}

.item-group-ustensils-item {
  cursor: pointer;
}
