/* on cree un conteneur flexible qui contiendra des colonnes */
#recettes {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  grid-gap: 50px;
}

.recipe {
  display: flex;
  justify-content: space-between;
  background-color: $colorLightGray;
  max-width: 380px;
  height: 364px;
  flex-direction: column;
  border-radius: 0.5rem;
  border: none;
  font-weight: 700;
  font-size: 1.2rem;
  overflow: hidden;
}

.blocImageSupp {
  background-color: $colorDarkGray;
  & span {
    display: flex;
    width: 100%;
    height: 178px;
  }
}

.blocElementsHigh {
  font-family: $lato-font;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  & h2 {
    font-weight: 400;
    font-size: 18px;
  }
}
.time {
  display: flex;
  align-items: center;
  & i {
    font-size: 20px;
    margin-right: 5px;
  }
  & h2 {
    font-weight: 700;
    font-size: 18px;
  }
}

.blocElementsDown {
  display: flex;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#ingredientRecette {
  display: flex;
  width: 100%;
  height: 109px;
  flex-direction: column;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  & ul {
    margin: 0;
    list-style-type: none;
    padding-inline-start: 0;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 0em;
  }
  & li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ingredientRecette {
  display: flex;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  &__produits {
    font-weight: 400;
  }
}

.descriptionRecette {
  font-family: $roboto-font;
  font-weight: 400;
  & p {
    width: 160px;
    margin-top: 0%;
    font-size: 12px;
    /* Over flow hidden hides the text if it is more than N lines  */
    overflow: hidden;
    /* To set '...' in absolute position */
    position: relative;
    /* Use this value to count block height */
    line-height: 12px;
    /* Max-height = line-height (12) * lines max number (7) */
    max-height: 84px;
    /* If the last visible word doesn't adjoin right side then this will fix the problem */
    text-align: left !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
